
<% if rand(0..1) == 0 %>

<h1>Hi I'm LCH</h1>

<% else %>
<h1>Hi I'm LCH, I'm here at Next Academy</h1>

<% end %>

<a href="/">Home</a>

<ul>
<% Url.all.each do |url| %>
<li><%= url.long_url %> - <%= url.short_url %></li>
<% end %>
</ul>